.header {
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 60px;
  background-color: white;
  border-bottom-color: rgb(220, 219, 219);
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  z-index: 10000;
}


.search-box {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  border-color: rgb(191, 187, 187);
  border-width: 0.3px;
  box-shadow: inset 1px 1px 3px rgb(182, 179, 179);
  font-size: 16px;
  width: 0;
}

.search-box::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  opacity: 70%;
}


.left-section {
  display: flex;
  align-items: center;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 650px;
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-shrink: 0;

}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
}

.youtube-logo {
  height: 23px;

}

.voice-search-icon {
  object-fit: cover;
  object-position: center;
  padding-top: 3px;
}

.mic {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  margin-left: 9px;
  border-style: none;
  border-color: gray;
}

.mic:hover {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  margin-left: 9px;
  border-style: none;
  border-color: rgb(188, 186, 186);
  box-shadow: 0px 1px 5px rgb(188, 188, 188);
}

.search-icon {
  width: 30px;
  padding-top: 3px;
  padding-right: 2px;
}

.search-got {
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-color: rgb(173, 169, 169);
  border-width: 0.3px;
  height: 39px;
  width: 60px;
}

.right-section-images {
  width: 30px;
  margin-right: 20px;
}

.noti {
  position: absolute;
  background-color: red;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 10px;
  color: white;
  font-size: 10px;
  right: 17px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}